.card { position:relative; overflow:hidden; backdrop-filter: blur(8px); }
.card:before { content:""; position:absolute; inset:0; background-image:var(--bg-image,none); opacity:var(--bg-opacity,0); z-index:0; pointer-events:none; background-position:center; background-repeat:no-repeat; background-size:cover; }
.card > * { position:relative; z-index:1; }
